		body {
			background-color: #eee;
			background-image: url(Alitext.png);
		}


		header {
			font-family: dosis;
			width: 100%;
			text-align: center;
			height: 50px;
			background-repeat: no-repeat;
			background-size: 20% 100%;
			background-color: none;
		}

		.jumborton {
			background-image: url(Alitext.png);
		}

		.imgcontainer {
			align-content: center;
		}